* {
    border: none;
    border-radius: 0;
    font-family: DejaVu Sans, Roboto, Helvetica, Arial, sans-serif;
    font-size: 12px;
    min-height: 0;
}

window#waybar {
    background-color: rgba(43, 48, 59, 0.75);
    border-bottom: 3px solid rgba(60, 60, 60, 1);
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #ffffff;
    border-bottom: 3px solid transparent;
}

#workspaces button.visible.focused {
    background-color: #ffffff;
    color: rgba(43, 48, 59, 0.75);
    border-bottom: 3px solid rgba(120, 128, 130, 0.5);
}

#workspaces button.visible {
    background-color: #64727D;
    color: #ffffff;
    border-bottom: 3px solid rgba(120, 128, 130, 0.5);
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #64727D;
    border-bottom: 3px solid #ffffff;
}

#custom-new-ws,
#clock,
#battery,
#backlight,
#network,
#tray,
#mode,
#idle_inhibitor {
    padding: 0 4px;
    margin: 0 2px;
    color: #ffffff;
    border-bottom: 3px solid rgba(100, 114, 125, 0.5);
}

#custom-new-ws {
    padding: 0 5px;
}

#custom-keyboard, #custom-rotate, #custom-run {
    background-color: #285577;
    border-bottom: 3px solid rgba(100, 114, 125, 0.5);
    color: #ffffff;
    padding: 0 8px;
    margin: 0 2px;
}

#clock {
    background-color: transparent;
}

#custom-run {
    margin-left: 2px;
    margin-right: 0;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#cpu {
    background-color: #2ecc71;
    color: #000000;
}

#memory {
    background-color: #9b59b6;
}

#backlight {
    background-color: #90b1b1;
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#temperature {
    background-color: #f0932b;
}

#temperature.critical {
    background-color: #eb4d4b;
}

#tray {
    background-color: #2980b9;
}

#idle_inhibitor {
    background-color: #2d3436;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}

#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}
